<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" link href="/static/css/style.css">

        <title>Fizz Buzz Dialer</title>
    </head>


    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://cedricholz.com">Fizz Buzz Dialer</a>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <form action="." method="POST">
                  <div class="form-group">
                    <label for="phonenumber">Phone Number: </label>
                    <input class="form-control" id="phonenumber" name="phonenumber" placeholder="Enter phone number">
                  </div>
                  <div class="form-group">
                    <label for="delay">Delay in minutes: </label>
                    <input type="delay" class="form-control" id="delay" name="delay" value="0">
                  </div>
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>

            <h2>Call History</h2>

            <ul id="call_history">

            {% for call in call_times %}

                <li><a href="/">{{call[0]}} </a>
                <form action="/replay/{{call[1]}}/{{call[2]}}" method="post">
                    <button name="replayBtn" type="submit" class="btn btn-success">Replay Call</button>
                </form>
                </li>
            {% endfor %}


            </ul>
        </div>

    </body>
</html>